body{
    background-color: #e6e6e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

/* START PRICING-TABLE */
.heading-pricing {
    text-align: center;
    margin-top: 100px;
}

.heading-pricing h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.heading-pricing p {
    font-weight: normal;
}

.heading-pricing p:last-child {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: normal;
}

.container-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pricing-table {
    min-width: 24%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    border-radius: 16px;
}

.pricing-table h2 {
    font-size: 1.2rem;
}

.pricing-table strong {
    font-weight: bold;
    font-size: 2rem;
}

.pricing-table ul .content {
    text-transform: capitalize;
    color: #b0b4bd;
    margin-top: 20px;
}

.pricing-table ul .content::before {
    color: #b0b4bd;
    content: "\2713";
    font-size: 1.5rem;
}

.pricing-btn {
    min-width: 200px;
    display: inline-block;
    border: none;
    color: #000;
    background-color: #e8e9f0;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pricing-table:first-child:hover {
    box-shadow: 10px 10px 5px lightblue;;
    background-color: #90f190;
    color: #000;
}

.pricing-table:last-child:hover {
    box-shadow: 10px 10px 5px lightblue;
    background-color: #f37954;
    color: #000;
}
.pricing-table:nth-child(2) {
    background-color: #0093fc;
    box-shadow: 10px 10px 5px lightblue;
}
.pricing-btn:hover {
    background-color: #f195f0;
}
/* END PRICING-TABLE */

/* START PRODUCT-LIST */
.container-product {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.content-product {
    width: 300px;
    border: 5px solid #000;
    border-radius: 14px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(26.6666% - 10px); 
}

.content-product img {
    max-width: 100%;
    height: 444px;
    object-fit: contain;
}

.container-product button {
    border-radius: 2px;
}

.container-product .content-product:hover {
    cursor: pointer;
    box-shadow: 5px 10px #5596eb;
}
/* END PRODUCT-LIST */

/* START CV */
.cv {
    background-color: white;
    max-width: 782px;
    min-height: 1300px;
    margin: 34px auto 0px;
    display: flex;
}

.cv .info-cv {
    background-color: #314b37;
    flex-grow: 1;
}

.cv .content-cv {
    flex-grow: 2;
}
.cv .info-cv .info-img {
    min-height: 34%;
    background-color: #537c5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-cv .info-img img{
    border-radius: 50%;
    border: 10px solid #8aa791;
    width: 80%;
    height: 200px;
    object-fit: cover;
    
}

.info-img span {
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}

.my-info {
    color: #fff;
}

.my-info .information ul, .my-school ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    padding: 20px;
}

.my-info .info-study .intro-study{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #527b5b;
    border: 2px solid #537c5c;
    border-radius: 250px;
}

.my-school span {
    font-family: "Google Sans", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
}

.intro-work {
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #527b5b;
    border: 2px solid #537c5c;
    border-radius: 250px;
}

.content-cv {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.content-cv .heading-work {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
/* END CV */
